.main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.918);
}

.border{
    position: relative;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color: rgb(114, 114, 114);
    padding: 1rem;
}
.blok{
    border: 1px solid black;
    border-radius: 3px;
    background: linear-gradient(rgb(148, 148, 148), rgb(255, 255, 255));
    padding: 100px 100px;
    width: 300px; 
}

.text{
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid black;
    text-align: left;
}